:root{
	--main-color:#fff;
}
/*all*/
.bold{ font-weight:bold; }

/*header*/
.main_menu .header_logo { padding:5px; margin-right:30px }
.main_menu .header_logo img{ height:60px }
.header_b_three{ background:#000 }
.main_menu nav > ul > li > a{ color:#fff }
.header_b_three.sticky-header.sticky {background: #000000b3;}
.header_b_three{ margin-bottom:0px }

/*slider*/
.slider_area .owl-dots .owl-dot.active{ width:30px; border-radius:10px }
.slider_area .owl-dots .owl-dot.active::before{ width:34px; border-radius:10px; top:-2px }
.slider_area .single_slider{ height:75vh }
.slider_area .single_slider img{ height:100%; object-fit:cover; }
.pc-hiden{ display:none !important; }

/*new_product_area*/
.section1 .small_product .product_thumb img{ height:100%; object-fit:cover; }
.section1 .product_name h3 a{ font-size:1.1rem }

.detail a { background:#000; color:#fff; padding:7px 15px; border-radius:5px; }


.small_product .product_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.small_product .product_ratings{ margin-bottom:20px }
.product_name h3 a {
    font-weight: bold;
    font-size: 1rem;
}
.sample_product .product_name {
    margin-bottom: 0;
    margin-top: 20px;
}
.sample_product .product_content {
    margin-top: 15px;
}

.mega_menu_inner{ justify-content: flex-start; }
.mega_menu_inner .col-lg-2{ margin-bottom:20px }
.mega_menu_inner .img img{ border-radius:10px; width:100%; height:100px; object-fit:cover; }
.mega_menu_inner .iteams{ font-size:1rem; font-weight:bold; text-align:center; margin-top:5px }

.btn-group-product .btn-big{ position:relative; background:#c4172c; color:#fff; padding-left:40px; margin-bottom:20px; font-size:.8rem; display:flex; flex-direction: column; }
.btn-group-product .btn-big .info-text{ font-size:1rem }
.btn-group-product .btn-big:after{     position: absolute; margin: auto; bottom: 0;content: '';width: 45px;height: 45px;top: 0;left: 8px;border-radius: 100%; }
.btn-group-product .btn-seller:after{ background: url(../img/icon/icon-saller.png) center center; }
.btn-group-product .btn-request:after{ background: url(../img/icon/icon-usd.png) center center; }
.btn-group-product .btn-test-driver:after{ background: url(../img/icon/icon-test-driver.png) center center; }
.btn-group-product .btn-calculator:after{ background: url(../img/icon/icon-calculator.png) center center; }

/*section0*/
.section0{ padding:40px 0px }
.section0 .title-home{ margin-bottom:20px }
.section0 .title-home h1{ text-align:center; font-size:2rem; font-weight:bold; margin-bottom:10px }
.section0 .title-home p{ text-align:center; font-size:1rem; }
.section0 .content-home{ border:2px dashed #ddd; border-radius:20px; padding:20px }
.section0 .content-home h2{ font-size:1.2rem }
.section0 .content-home ul{ padding-left:20px }
.section0 .content-home ul li{ list-style:circle; margin-bottom:15px }
.section0 .content-home p{ margin-bottom:15px }
.section0 .content-home .contact{ display:flex; justify-content: center; margin-bottom:20px }
.section0 .content-home .contact a{ display:flex; flex-direction: column; background:#fd6e1d; color:#fff; font-size:1.2rem; margin:0px 10px; padding:10px 20px; border-radius:5px; text-align:center; }
.section0 .content-home .contact a i{ font-size:.8rem }
.section0 .content-home{  }

.a1222{ background-color:#2b2b2b; display:flex; color:#fff; align-items: center; margin-bottom:20px; border-radius:5px }
.a1222 .img{ padding:10px; background-color:#000; border-radius:5px }
.a1222 .img img{ width:50px }
.a1222 span{ width:100%; font-size:1.4rem; padding-left:20px }


.footer_widgets h4{ font-size:1rem; font-weight:bold; margin-bottom:10px }
.footer_widgets p{ margin-bottom:10px }

.footer_menu ul li i{ width:16px; margin:0 auto; text-align:center; }

.product_bg .single_product{ border-radius:10px;  } 

.product-details-tab #thumbs .owl-item .item{ padding:5px }

.product_d_info .product_d_inner *{ position:relative; z-index:1; height: auto !important; }
.product_d_info .product_d_inner h2{ font-size:1.1rem; padding-top: 80px; margin-top: -80px; position:relative; z-index:0 }
.product_d_info .product_d_inner h2::after{ content:""; width:50px; height:3px; background:#a70418; position:absolute; left:0; bottom:0px }
.product_d_info .product_d_inner table{ width:100%; border:none; margin-bottom:20px }
.product_d_info .product_d_inner th{ border:1px solid #ddd; text-align:center; font-weight:bold; }
.product_d_info .product_d_inner td{ border:1px solid #ddd; text-align:center;}
.product_d_info .product_d_inner td *{ padding:0; margin:0 }
.fix-sticky{ position: sticky; top: 75px }

.product_d_info .product_d_inner .menu-titile p{ border-bottom:1px dashed #ddd; padding-bottom:3px; margin-bottom:3px }
.product_d_info .product_d_inner .menu-titile a{ padding:4px 0px; }


.fixd-right{ position:fixed; left:20px; bottom:20px; z-index:98 }
.fixd-right ul li{ margin-top:10px;  }
.fixd-right ul li a{ display: flex; align-items: center; }
.fixd-right ul li a img{ width:50px; background:#fff; border-radius:100%; margin-right:5px }
.hidden-pc{ display:none; }


.main-pupop{ display:flex; }
.main-pupop .img{ width:50% }
.main-pupop .form{ width:50%; padding:30px 20px }
.main-pupop .img img{ width:100% }
.cart_close{ position:absolute; top:7px; right:12px }
.main-pupop .form h3{ text-align:center; font-size:1.3rem; color:#2980b9; font-weight:bold; }
.main-pupop .form p{ text-align:center; }
.main-pupop .form p span{ color:#d40000; font-weight:bold; font-size:110% }
.main-pupop .form form>div{ display:flex; flex-direction: column; }
.main-pupop .form form input, .main-pupop .form form select{ border:1px solid #ddd; border-radius:3px; padding:4px 10px }
.main-pupop .form form button{ margin-top:10px; background:#d40000; color:#fff; border:none; border-radius:5px; padding:10px; font-weight:bold; }

.alert-success{ 
    position: fixed;
    bottom: 20px;
    z-index: 99999;
    right: 20px;
    background: #2196F3;
    color: #fff;
    font-weight: bold;
}

#validateForm .iteam_row{ margin-bottom:15px }
#validateForm .iteam_row{ position:relative; }
#validateForm label.error{ position:absolute; top:12px; right:0; color:#d40000; margin-bottom:0; background:#fff; padding:0px 10px }
