.swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

.form h3{ font-size:1.2rem; color:#288ad6; }
.form p{ font-size:0.8rem; font-style: italic; line-height:17px  }
.form form>div{ display:flex; flex-direction: column; margin-bottom:10px }
.form form>div input, .form form>div select{ padding:5px; border:1px solid #ddd; border-radius:4px }
.form form>div select{ padding:8px 5px }
.form form>div button{ margin-top:10px; background:#288ad6; border:none; border-radius:5px; color:#fff; padding:10px  }

@media screen and (max-width: 480px) {
    .swiper-slide img{ height:280px }
    .mySwiper .swiper-slide img{ height:60px }
}