@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 820px) {
    
}

@media screen and (max-width: 768px) {
    .header_area{ padding:5px }
    .Offcanvas_menu{ position:relative; text-align:center; border-bottom:1px solid #ddd; padding-bottom:10px; margin-bottom:0 }
    .Offcanvas_menu .logo img{ height:50px }
    .canvas_open{ position:absolute; left:20px; top:0; bottom:0; margin:auto; }
    .section0 .title-home h1{ font-size:1.3rem }
    .section0 .title-home p{ font-size:.7rem }
}


@media screen and (max-width: 480px) {
    .slider_area .single_slider img, .slider_area .single_slider{ height:90vh }
    .section0 .content-home ul li{ margin-bottom:5px }
    .section0 .content-home h2{ font-size:1rem; line-height:24px }
    .section0 { padding:20px 0; }
    .product_d_inner{ padding: 20px 10px 50px; }
    .mini_cart{ height:auto; }
    .fixd-right ul{ display:flex; justify-content: space-around; }
    .fixd-right ul li{ margin-top:0px; background:#fff; padding:5px; border-radius:5px }
    .fixd-right ul li a img{ width:30px }
    .fixd-right ul li a{ font-weight:bold; }
    .fixd-right{ width:100%; left:0; bottom:0; background:#0000004d; padding:5px }
    .hidden-pc{ display:block; }
    .main-pupop .img{ display:none; }
    .main-pupop .form{ width:100%; padding:0px }
    .main-pupop .form h3{ font-size:1.5rem; }
    .section0 .content-home .contact a{ padding:10px }
    .mobi-hiden{ display:none !important; }
    .pc-hiden{ display:block !important; }
}